:root {
    /* New Palette */
    --primary: #883826;
    --secondary: #A0B5CB;
    --tertiary: #361E1C;
    --quaternary: #FF6038;
    --background: #fcf6ef;
    --background-dark: #1f1f1f;
    --surface: #EBECDC;
    --forest-haze: #4b6151;
    --moss-whisper: #98a789;
    --sandy-dunes: #efe7dd;
    --neutral-light: #f5f5f5;
    --text: #361E1C;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    /* Prevent scrolling on this page */
}

body {
    background: var(--background-dark);
    font-family: "Courier New", Courier, monospace;
    color: var(--neutral-light);
    /* Light text on dark background */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.construction-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    position: relative;
}

/* Logo Styles */
.logo-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg.logo {
    z-index: 2;
    background: var(--quaternary);
    padding: 20px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
        0px 6px 10px 0px rgba(0, 0, 0, 0.14),
        0px 1px 18px 0px rgba(0, 0, 0, .12);
    transition: transform 0.3s ease;
    overflow: visible;
}

svg.logo:hover {
    transform: rotate(10deg);
}

svg.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 220px;
    height: 220px;
    z-index: 1;
    pointer-events: none;
    animation: spin-rotate 20s linear infinite;
}

svg.text path {
    transform-origin: center;
}

@keyframes spin-rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

h1 {
    font-family: "Instrument Serif", serif;
    font-size: 4rem;
    margin: 0;
    font-weight: 400;
    color: var(--neutral-light);
}

p {
    font-size: 1.2rem;
    max-width: 600px;
    line-height: 1.6;
    color: var(--secondary);
    margin-top: 10px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    p {
        padding: 0 20px;
        font-size: 1rem;
    }
}